<!--  -->
<!--  -->
<main class="my-8">
  <div class="container mx-auto px-6">
    <div class="h-64 rounded-md overflow-hidden bg-cover bg-center home1-img">
      <div class="bg-gray-900 bg-opacity-50 flex items-center h-full">
        <div class="px-10 max-w-xl">
          <h2 class="text-2xl text-white font-semibold">
            Componentes, Accesorios y Más
          </h2>
          <p class="mt-2 text-gray-400">
            Busca los mejores componentes y accesorios en nuestra tienda.
          </p>
        </div>
      </div>
    </div>
    <div class="md:flex mt-8 md:-mx-4">
      <!-- <div
        class="w-full h-64 md:mx-4 rounded-md overflow-hidden bg-cover bg-center md:w-1/2 home2-img"
      >
        <div class="bg-gray-900 bg-opacity-50 flex items-center h-full">
          <div class="px-10 max-w-xl">
            <h2 class="text-2xl text-white font-semibold">Accesorios</h2>
            <p class="mt-2 text-gray-400">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore
              facere provident molestias ipsam sint voluptatum pariatur.
            </p>
            <button
              class="flex items-center mt-4 text-white text-sm uppercase font-medium rounded hover:underline focus:outline-none"
            >
              <span>Ver</span>
              <i class="fa-solid fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div> -->
      <!-- <div
        class="w-full h-64 mt-8 md:mx-4 rounded-md overflow-hidden bg-cover bg-center md:mt-0 md:w-1/2 home3-img"
      >
        <div class="bg-gray-900 bg-opacity-50 flex items-center h-full">
          <div class="px-10 max-w-xl">
            <h2 class="text-2xl text-white font-semibold">Promociones</h2>
            <p class="mt-2 text-gray-400">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore
              facere provident molestias ipsam sint voluptatum pariatur.
            </p>
            <button
              class="flex items-center mt-4 text-white text-sm uppercase font-medium rounded hover:underline focus:outline-none"
            >
              <span>Ver</span>
              <i class="fa-solid fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div> -->
    </div>
    <div class="mt-16">
      <h3 class="text-gray-600 text-2xl font-medium">Todos los productos</h3>
      <div
        class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-6"
      >
        <div
          class="mx-auto mt-11 w-80 overflow-hidden rounded-lg bg-white shadow-md hover:shadow-xl"
          *ngFor="let item of Productos"
        >
          <img
            class="h-48 w-full object-cover object-center"
            [src]="'assets/img/' + item.photo"
            alt="Product Image"
          />
          <div class="p-4">
            <h2 class="mb-2 text-lg font-medium text-gray-900">
              {{ item.name }}
            </h2>
            <p class="mb-2 text-base text-gray-700">
              {{ item.descripcion }}
            </p>
            <div class="flex items-center">
              <p class="mr-2 text-lg font-semibold text-gray-900">
                {{ item.price | currency : "₡" }}
              </p>
            </div>
            <div class="flex items-center justify-between mt-2">
              <button
                [routerLink]="['/home/', item._id]"
                class="bg-gray-900 hover:bg-gray-800 text-white font-bold py-2 px-4 rounded-full"
              >
                Ver
                <i class="fa-solid fa-arrow-right"></i>
              </button>
              <button
                class="bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 rounded-full"
                (click)="agregarFavorito(item)"
              >
                <i class="fa-solid fa-heart"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
