<div class="bg-gray-900">
  <div class="max-w-1xl mx-auto text-white py-10">
    <div class="text-center">
      <h3 class="text-3xl mb-3">
        Mejora tu experiencia de juego con nuestros productos
      </h3>
      <div class="flex justify-center my-10">
        <p>
          Nuestra tienda en línea ofrece una amplia selección de productos
          gaming de alta calidad, diseñados para brindar una experiencia de
          juego excepcional.
        </p>
      </div>
    </div>
  </div>
</div>
