@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-img {
  background-image: url("src\assets\img\pexels-yan-krukau-9072216.jpg");
  background-size: cover;
  background-position: center;
}
